**/.ipynb_checkpoints
**/13_javascript
**/14_dodatkowe
**/01_jupyter_python
**/02_numpy_matplotlib
**/03_04_analiza_sygnalow
**/05_analiza_ssvep
**/06_potencjaly_wywołane
**/07_mruganie
**/08_zbieranie_danych
**/09_html
**/10_css
**/11_liczby_binarne
**/12_bramki_logiczne
**/13_VR